ion-content{
 --ion-background-color:black;
  }
 h4{
    color: white;
    margin-left: 5px;
    text-overflow: none;
    text-transform: capitalize;
    overflow:hidden;
 }

.ion-text-center{
   margin-top: 20px;
}